/* global var */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* background */
body {
    background-color: #d9dcd6;
}

/* header style */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* header size and display */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* changed the color of "SEO" */
header h1 .seo {
    color: #d9dcd6;
}

/* navbar spacing and fonts */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* navbar link spacing */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* navbar link text style */
a {
    color: #ffffff;
    text-decoration: none;
}

/* paragraph style */
p {
    font-size: 16px;
}

/* main image block */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* positioning images */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* parent box for three main content boxes */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* larger container for benefits */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* benefit content boxes on the right */
.benefits2 {
    margin-bottom: 32px;
    color: #ffffff;
}

/* headers on the right */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* icons on the right */
#lead-pic {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* display three main content boxes */
.content-box {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* image sizing */
#content-pic{
    max-height: 200px;
}

/* semantic labeling, h2 */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* semantic labeling, footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* footer text */
h4 {
    font-size: 20px;
}
